:root {
  background-color: #f5f5f5;
  color: black;
}



@font-face {
  font-family: "Metropolis";
  src: url("font/Metropolis-Regular.otf");
}

@font-face {
  font-family: "Metropolis-Bold";
  src: url("font/Metropolis-Bold.otf");
}

@font-face {
  font-family: "Metropolis-Light";
  src:url("font/Metropolis-Light.otf");
}

.text-head {
  font-size: calc(14px + 2vmin);
  font-family: "Unbounded";
  font-weight: 900;
  animation: swipeUp 500ms ease-in-out;
}

.name {
  color: #cf392e;
  animation: spawnShadow 500ms ease 1s forwards;
  text-decoration: none;
}

.name-pages {
  color: #cf392e;
  animation: spawnShadow 500ms ease 1s forwards;
  text-decoration: none;
  font-size: 5em
}

h1 {
  position: relative;
}

h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

h1::before {
  animation: typewriter 0.75s steps(15) forwards;
  background-color: #f5f5f5;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

.description {
  font-size: calc(8px + 2vmin);
  animation: swipeLeft 500ms ease-in-out;
}

.description-head {
  font-size: calc(14px + 2vmin);
  animation: swipeLeft 500ms ease-in-out;

}

.text-block {
  padding: 0 5em 2vh 5em;
  text-align: left;
}


.tsPart {
  z-index: -1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  animation: sway 1250ms infinite ease-in-out;
}

.App-logo-still {
  height: 10vmin;
  pointer-events: none;
}

.subtitle {
  padding-top:-1em;
  animation: swipeLeft 500ms;
}

.App-header {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: fadeIn 1000ms;
}

.About {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.Project {
  transition: all 150ms ease;
  width: 15em;
  height: 15em;
  margin: 1em;
  justify-content: center;
  display: inline-flex;
  background-color: #ffffff;
  border: 4px solid transparent;
  border-radius: 20px;

  &:hover {
    border: 4px solid #cf392e;
    transition: all 150ms ease;
    filter: drop-shadow(0.25em 0.70vh black);
  }
  
  img {
    width: 15em;
    height: 15em;
    object-fit: cover;
  }
}

.Resumes {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.Nav {
  background-color: #f5f5f5;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 1;
  position: sticky;
  top: 0;
  z-index: 15;
}

.Personal-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Side-image {
  transition: all 500ms ease;
  max-height: 30vh;
  object-fit: cover;
  border: 4px solid #cf392e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-left: 5em;
  border-radius: 1em;

  &:hover {
    transition: all 500ms ease;
    filter: drop-shadow(0.25em 0.70vh black);
  }
}

.Projects {
  min-height: 100vh;
}

.skills-section,
.skills-section-acco,
.projects-section {
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 33%;
  justify-content: space-evenly;
  padding-bottom: 5vh;
}

.projects-section {
  flex: 1 1 50%;
  margin: 0 20em 0 20em;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}

.skill {
  text-align: center;
}

.fai {
  display: flex;
  align-self: center;
  width: 2.5em;
  height: 2.5em;
}


.container-row {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: nowrap;
}



.container-col {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

#resume {
  width: 25em;
  justify-content: center;
}

.animateda {
  animation: swipeUp 500ms;
  animation-fill-mode: forwards;
}

.Button {
  color: black;
  opacity: 0;
  transition: all 100ms ease-out;
  border: 3px solid transparent;
  font-size: calc(8px + 2vmin);
  font-family: 'Unbounded';
  font-weight: 900;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background-color: #f5f5f5;
  animation: swipeUp 500ms;
  animation-fill-mode: forwards;
  text-decoration: none;

  &:hover {
    transition: all 100ms ease-out;
    background: linear-gradient(145deg, #ffffff, #d8d8d8);
    border: 3px solid #cf392e;
    filter: drop-shadow(0.1em 0.75vh black);
  }
}

.connect {
  right: 0;
  position: fixed;
  top: 50%;
  transform: translate(0px,-50%);
  display: flex;
  flex-direction: column;
  max-width: 2em;
  padding: 1vmin;
  border: none;
  border-radius: 1em;
  background: linear-gradient(145deg, #ffffff, #d8d8d8);
  border: 3px solid #cf392e;
    filter: drop-shadow(0.1em 0.75vh black);
}

.connect-image {
  max-width: 2em;
  max-height: 2em;
}

.notif {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 47%;
  right: 47%;
  top: 40%;
  font-family: "Unbounded";
  text-align: center;
  z-index: 3;
  min-width: 5em;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 1em;  
}

.Side-image-proj {
  max-height: 30vh;
  object-fit: cover;
  margin-left: 5em;
  border-radius: 1em;
}

.Side-image-proj-2 {
  max-height: 30vh;
  object-fit: cover;
  margin-left: 8em;
  margin-right: 4em;
  border-radius: 1em;
}

@media only screen and (max-width: 600px) {

  .text-block {
    padding: 0 1.25em 0 1.25em;
    text-align: left;
  }

  .projects-section {
    flex: 1 1 50%;
    margin: 0 5em 0 5em;
  }

  .name-pages {
    color: #cf392e;
    animation: spawnShadow 500ms ease 1s forwards;
    text-decoration: none;
    font-size: 2em
  }
  
  .container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Nav button{
    justify-content: space-evenly;
    size: 505%;
  }

  .Personal-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .Side-image {
    transition: all 500ms ease;
    max-height: 30vh;
    object-fit: cover;
    border: 4px solid #cf392e;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-right: 5em;
    border-radius: 1em;

    &:hover {
      transition: all 500ms ease;
      filter: drop-shadow(0.1em 0.35vh black);
    }
  }

  .skill-container {
    width: 33%;
  }

  .Side-image-proj {
    max-height: 30vh;
    object-fit: cover;
    margin-right: 5em;
    border-radius: 1em;
  }

  .Side-image-proj-2 {
    max-height: 30vh;
    object-fit: cover;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 1em;
  }

  .App-logo {
    height: 8vmin;
    pointer-events: none;
    animation: sway 1250ms infinite ease-in-out;
  }

  .App-logo-still {
    height: 8vmin;
    padding-top: 2vmin;
    pointer-events: none;
  }

  .connect {
    top: 20%;
    z-index: 20;
  }

  .notif {
    left:35%;
  }

  @keyframes spawnShadow {
    0% {
    }
  
    100% {
      filter: drop-shadow(0.1em 0.35vh black);
    }
    
  }
  
}

a {
  text-decoration: none;
  color: black;
}

.connect img {
  padding-top: 0.33vh;
  padding-bottom: 0.33vh;
}

.connect img:hover {
  animation: flash 500ms;
}

p {
  font-family: 'Unbounded';
  color: black;
}

.Nav button:nth-child(1) { animation-delay: 0s;}
.Nav button:nth-child(2) { animation-delay: 0.25s;}
.Nav button:nth-child(3) { animation-delay: 0.5s;}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 500ms linear;
}

.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes swipeUp {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes sway {
  0%,100% {
    transform: translateY(-0.5vh);
  }
  50% {
    transform: translateY(0.5vh);
  }
}

@keyframes flash {
  0%, 50%, 100% {
     opacity: 1;
  }
  25%, 75% {
     opacity: 0;
  }
}


@media screen and (min-width: 600px) {
  @keyframes spawnShadow {
  0% {
  }

  100% {
    filter: drop-shadow(0.1em 0.72vh black);
  }
  
}}
