:root {
  background-color: #f5f5f5;
  color: black;
}

@font-face {
  font-family: "Metropolis";
  src: url("font/Metropolis-Regular.otf");
}

@font-face {
  font-family: "Metropolis-Bold";
  src: url("font/Metropolis-Bold.otf");
}

@font-face {
  font-family: "Metropolis-Light";
  src:url("font/Metropolis-Light.otf");
}

.text-head {
  font-size: calc(14px + 2vmin);
  font-family: "Metropolis-Bold";
  animation: swipeUp 500ms ease-in-out;
}

.description {
  font-size: calc(12px + 2vmin);
  animation: swipeLeft 500ms ease-in-out;
}

.description-tiny {
  font-size: calc(8px + 2vmin);
  animation: swipeLeft 500ms ease-in-out;
  margin-top: calc(-2vh + 1vmin);
}

.text-block {
  padding: 0 5em 2vh 5em;
  text-align: left;
  
}

.tsPart {
  z-index: -1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  animation: sway 1250ms infinite ease-in-out;
}

.App-logo-still {
  height: 10vmin;
  pointer-events: none;
}

.subtitle {
  padding-top:-1em;
  animation: swipeLeft 500ms;
}

.App-header {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: fadeIn 1000ms;
}

.About {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.Projects {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.Resumes {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.Nav {
  background-color: #f5f5f5;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 1;
  position: sticky;
  top: 0;
  z-index: 15;
}

.Personal-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Side-image {
  max-height: 30vh;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-left: 5em;
  border-radius: 1em;
}

.Side-image:hover {
  animation: sway 1000ms infinite ease-in-out;
}

.Skill-container {
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: linear-gradient(145deg, #ececec, #c7c7c7);
box-shadow:  4px 4px 8px #bcbcbc,
             -4px -4px 8px #fefefe;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
}

.Skill {
  text-align: right;
  font-family: 'Metropolis';
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: white;
  border: none;
  border-radius: 2em;
}

.py { width: 100%; background: linear-gradient(145deg, #ff483a, #dc3c31);
  box-shadow:  2px 2px 8px #cf392e,
               -2px -2px 8px #ff4d3e;}
.js { width: 100%; background: linear-gradient(145deg, #ff483a, #dc3c31);
  box-shadow:  2px 2px 8px #cf392e,
               -2px -2px 8px #ff4d3e;}
.rt { width: 85%; background: linear-gradient(145deg, #ff483a, #dc3c31);
  box-shadow:  2px 2px 8px #cf392e,
               -2px -2px 8px #ff4d3e;}
.dj {width:85%;background: linear-gradient(145deg, #ff483a, #dc3c31);
  box-shadow:  2px 2px 8px #cf392e,
               -2px -2px 8px #ff4d3e;}
.sql {width: 70%;background: linear-gradient(145deg, #ff483a, #dc3c31);
  box-shadow:  2px 2px 8px #cf392e,
               -2px -2px 8px #ff4d3e;}
.flask {width: 85%;background: linear-gradient(145deg, #ff483a, #dc3c31);
  box-shadow:  2px 2px 8px #cf392e,
               -2px -2px 8px #ff4d3e;}

.container-row {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: nowrap;
}



.container-col {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

#resume {
  padding: 0.5em 2em 0.5em 2em;
  width: 25em;
}

.Button {
  color: black;
  opacity: 0;
  transition: all 100ms ease-out;
  border: none;
  font-size: calc(8px + 2vmin);
  font-family: 'Metropolis-Bold';
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background-color: #f5f5f5;
  animation: swipeUp 500ms;
  animation-fill-mode: forwards;
  text-decoration: none;
}

.Button:hover {
  transition: all 100ms ease-out;
  background: linear-gradient(145deg, #ffffff, #d8d8d8);
  box-shadow:  10px 10px 20px #cccccc,
              -10px -10px 20px #ffffff;
  }

.connect {
  right: 0;
  position: fixed;
  top: 50%;
  transform: translate(0px,-50%);
  display: flex;
  flex-direction: column;
  max-width: 2em;
  padding: 1vmin;
  border: none;
  border-radius: 1em;
  background: linear-gradient(145deg, #ffffff, #d8d8d8);
  box-shadow:  5px 5px 5px #cccccc,
              -5px -5px 5px #ffffff;
}

.connect-image {
  max-width: 2em;
  max-height: 2em;
}

.notif {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 47%;
  right: 47%;
  top: 40%;
  font-family: "Metropolis";
  text-align: center;
  z-index: 3;
  min-width: 5em;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 1em;  
}

.Side-image-proj {
  max-height: 30vh;
  object-fit: cover;
  margin-left: 5em;
  border-radius: 1em;
}

.Side-image-proj-2 {
  max-height: 30vh;
  object-fit: cover;
  margin-left: 8em;
  margin-right: 4em;
  border-radius: 1em;
}

@media only screen and (max-width: 600px) {
  .text-block {
    padding: 0 1.25em 0 1.25em;
    text-align: left;
  }

  .Personal-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .Side-image {
    max-height: 30vh;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-right: 5em;
    border-radius: 1em;
  }

  .Side-image-proj {
    max-height: 30vh;
    object-fit: cover;
    margin-right: 5em;
    border-radius: 1em;
  }

  .Side-image-proj-2 {
    max-height: 30vh;
    object-fit: cover;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 1em;
  }

  .App-logo {
    height: 8vmin;
    pointer-events: none;
    animation: sway 1250ms infinite ease-in-out;
  }

  .App-logo-still {
    height: 8vmin;
    padding-top: 2vmin;
    pointer-events: none;
  }

  .connect {
    top: 20%;
    z-index: 20;
  }

  .notif {
    left:35%;
  }
  
}

a {
  text-decoration: none;
  color: black;
}

.connect img {
  padding-top: 0.33vh;
  padding-bottom: 0.33vh;
}

.connect img:hover {
  animation: flash 500ms;
}

p {
  font-family: 'Metropolis';
  color: black;
}

.Nav button:nth-child(1) { animation-delay: 0s;}
.Nav button:nth-child(2) { animation-delay: 0.25s;}
.Nav button:nth-child(3) { animation-delay: 0.5s;}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 500ms linear;
}

.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes swipeUp {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes sway {
  0%,100% {
    transform: translateY(-0.5vh);
  }
  50% {
    transform: translateY(0.5vh);
  }
}

@keyframes flash {
  0%, 50%, 100% {
     opacity: 1;
  }
  25%, 75% {
     opacity: 0;
  }
}